**/.DS_Store
**/.pytest_cache
**/__pycache__
**/.idea
**/.pytest_cache
**/.env
**/logs

# ignore graphrag folder
**/graphrag/
**/paperag/pdf
**/paperag/markdown
**/input

# Ignore Jupyter notebook file
#**/test.ipynb